<div class="container">
    <h1 class="text-center">Welcome Home</h1><br>
    <i class="fab fa-github"></i>
    <div class="my-image container">
        <img src="../../../assets/images/landing-page.jpg" alt="" style="height:400px;width:1100px;">
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            
          <button class="btn btn-secondary btn-register">Register</button>
        </div>
      </div>
</div>


    
  